project:
  type: website
  output-dir: docs
website:
  title: "population_assessment"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "Introduction"
        href: about.qmd
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

