project:
  type: website
  output-dir: docs
website:
  sidebar:
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: "Home"
      - href: content/intro.qmd
        text: "Methods Introduction"
      - href: content/s1_imputation/imputation.qmd
        text: "Nest imputation"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

